In [1]:
import pandas as pd

In [2]:
url = 'https://www.nrcs.usda.gov/wps/portal/nrcs/detail/?cid=nrcs143_013696'

# Pandas

In [3]:
# read table data from webpage
table_data = pd.read_html(url)

In [4]:
# specify table
table_data[0]

                                                 Name Postal Code  FIPS
0                                             Alabama          AL   1.0
1                                              Alaska          AK   2.0
2                                             Arizona          AZ   4.0
3                                            Arkansas          AR   5.0
4                                          California          CA   6.0
5                                            Colorado          CO   8.0
6                                         Connecticut          CT   9.0
7                                            Delaware          DE  10.0
8                                             Florida          FL  12.0
9                                             Georgia          GA  13.0
10                                             Hawaii          HI  15.0
11                                              Idaho          ID  16.0
12                                           Illinois          IL  17.0
13                                            Indiana          IN  18.0
14                                               Iowa          IA  19.0
15                                             Kansas          KS  20.0
16                                           Kentucky          KY  21.0
17                                          Louisiana          LA  22.0
18                                              Maine          ME  23.0
19                                           Maryland          MD  24.0
20                                      Massachusetts          MA  25.0
21                                           Michigan          MI  26.0
22                                          Minnesota          MN  27.0
23                                        Mississippi          MS  28.0
24                                           Missouri          MO  29.0
25                                            Montana          MT  30.0
26                                           Nebraska          NE  31.0
27                                             Nevada          NV  32.0
28                                      New Hampshire          NH  33.0
29                                         New Jersey          NJ  34.0
30                                         New Mexico          NM  35.0
31                                           New York          NY  36.0
32                                     North Carolina          NC  37.0
33                                       North Dakota          ND  38.0
34                                               Ohio          OH  39.0
35                                           Oklahoma          OK  40.0
36                                             Oregon          OR  41.0
37                                       Pennsylvania          PA  42.0
38                                       Rhode Island          RI  44.0
39                                     South Carolina          SC  45.0
40                                       South Dakota          SD  46.0
41                                          Tennessee          TN  47.0
42                                              Texas          TX  48.0
43                                               Utah          UT  49.0
44                                            Vermont          VT  50.0
45                                           Virginia          VA  51.0
46                                         Washington          WA  53.0
47                                      West Virginia          WV  54.0
48                                          Wisconsin          WI  55.0
49                                            Wyoming          WY  56.0
50                                     American Samoa          AS  60.0
51                                               Guam          GU  66.0
52                           Northern Mariana Islands          MP  69.0
53                                        Puerto Rico          PR  72.0
54                                     Virgin Islands          VI  78.0
55  //<![CDATA[ var $s = {} var isClick = false; $...         NaN   NaN

In [5]:
# save to file
# table_data[0].to_csv('table_scrape.csv')

# BeautifulSoup

In [6]:
import requests
from bs4 import BeautifulSoup

In [7]:
# parse webpage
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [8]:
# specify table to scrape
table = soup.find('table', class_='data')

In [9]:
# select all table rows
table_data = table.tbody.find_all("tr")
table_data[0:3]

[<tr>
 <th scope="col">
 				Name</th>
 <th scope="col">
 				Postal Code</th>
 <th scope="col">
 				FIPS</th>
 </tr>, <tr>
 <td>
 				Alabama</td>
 <td>
 				AL</td>
 <td>
 				01</td>
 </tr>, <tr>
 <td>
 				Alaska</td>
 <td>
 				AK</td>
 <td>
 				02</td>
 </tr>]

In [10]:
# extract heading data
headings = []
for heading in table_data[0].find_all("th"):
    # add header to list; remove newlines and spaces
    headings.append(heading.text.replace('\n', ' ').strip())

In [11]:
headings

['Name', 'Postal Code', 'FIPS']

In [12]:
# extract table data
data = []
# iterate through each row (skip heading row)
for row in table_data[1:]:
    row_data = {}
    # iterate through each column in row
    for heading, column in zip(headings, row.find_all("td")):
        # save column values for each heading to dictionary
        row_data[heading] = column.text.replace('\n', '').strip()
    # add data for each row to data list
    data.append(row_data)

In [13]:
# create dataframe with extracted data list
df = pd.DataFrame(data)
df

                        Name Postal Code FIPS
0                    Alabama          AL   01
1                     Alaska          AK   02
2                    Arizona          AZ   04
3                   Arkansas          AR   05
4                 California          CA   06
5                   Colorado          CO   08
6                Connecticut          CT   09
7                   Delaware          DE   10
8                    Florida          FL   12
9                    Georgia          GA   13
10                    Hawaii          HI   15
11                     Idaho          ID   16
12                  Illinois          IL   17
13                   Indiana          IN   18
14                      Iowa          IA   19
15                    Kansas          KS   20
16                  Kentucky          KY   21
17                 Louisiana          LA   22
18                     Maine          ME   23
19                  Maryland          MD   24
20             Massachusetts          MA   25
21                  Michigan          MI   26
22                 Minnesota          MN   27
23               Mississippi          MS   28
24                  Missouri          MO   29
25                   Montana          MT   30
26                  Nebraska          NE   31
27                    Nevada          NV   32
28             New Hampshire          NH   33
29                New Jersey          NJ   34
30                New Mexico          NM   35
31                  New York          NY   36
32            North Carolina          NC   37
33              North Dakota          ND   38
34                      Ohio          OH   39
35                  Oklahoma          OK   40
36                    Oregon          OR   41
37              Pennsylvania          PA   42
38              Rhode Island          RI   44
39            South Carolina          SC   45
40              South Dakota          SD   46
41                 Tennessee          TN   47
42                     Texas          TX   48
43                      Utah          UT   49
44                   Vermont          VT   50
45                  Virginia          VA   51
46                Washington          WA   53
47             West Virginia          WV   54
48                 Wisconsin          WI   55
49                   Wyoming          WY   56
50            American Samoa          AS   60
51                      Guam          GU   66
52  Northern Mariana Islands          MP   69
53               Puerto Rico          PR   72
54            Virgin Islands          VI   78

In [14]:
# save to file
# df.to_csv('table_scrape.csv')

# Selenium

In [15]:
from selenium import webdriver

In [16]:
# load url into selenium
drv_loc = '/usr/bin/chromedriver'
driver = webdriver.Chrome(drv_loc)
driver.get(url)

In [17]:
# extract heading data
headings = []
for heading in driver.find_elements_by_xpath('//table[@class="data"]/tbody/tr/th'):
    # add header to list; remove newlines and spaces
    headings.append(heading.text)

In [18]:
headings

['Name', 'Postal Code', 'FIPS']

In [19]:
# extract table data
data = []
# iterate through each row (skip heading row)
for row in driver.find_elements_by_xpath('//table[@class="data"]/tbody/tr')[1:]:
    row_data = {}
    # iterate through each column in row
    for heading, column in zip(headings, row.find_elements_by_tag_name('td')):
        # save column values for each heading to dictionary
        row_data[heading] = column.text
    # add data for each row to data list
    data.append(row_data)

In [20]:
driver.close()

In [21]:
# create dataframe with extracted data list
df = pd.DataFrame(data)
df

                        Name Postal Code FIPS
0                    Alabama          AL   01
1                     Alaska          AK   02
2                    Arizona          AZ   04
3                   Arkansas          AR   05
4                 California          CA   06
5                   Colorado          CO   08
6                Connecticut          CT   09
7                   Delaware          DE   10
8                    Florida          FL   12
9                    Georgia          GA   13
10                    Hawaii          HI   15
11                     Idaho          ID   16
12                  Illinois          IL   17
13                   Indiana          IN   18
14                      Iowa          IA   19
15                    Kansas          KS   20
16                  Kentucky          KY   21
17                 Louisiana          LA   22
18                     Maine          ME   23
19                  Maryland          MD   24
20             Massachusetts          MA   25
21                  Michigan          MI   26
22                 Minnesota          MN   27
23               Mississippi          MS   28
24                  Missouri          MO   29
25                   Montana          MT   30
26                  Nebraska          NE   31
27                    Nevada          NV   32
28             New Hampshire          NH   33
29                New Jersey          NJ   34
30                New Mexico          NM   35
31                  New York          NY   36
32            North Carolina          NC   37
33              North Dakota          ND   38
34                      Ohio          OH   39
35                  Oklahoma          OK   40
36                    Oregon          OR   41
37              Pennsylvania          PA   42
38              Rhode Island          RI   44
39            South Carolina          SC   45
40              South Dakota          SD   46
41                 Tennessee          TN   47
42                     Texas          TX   48
43                      Utah          UT   49
44                   Vermont          VT   50
45                  Virginia          VA   51
46                Washington          WA   53
47             West Virginia          WV   54
48                 Wisconsin          WI   55
49                   Wyoming          WY   56
50            American Samoa          AS   60
51                      Guam          GU   66
52  Northern Mariana Islands          MP   69
53               Puerto Rico          PR   72
54            Virgin Islands          VI   78

In [22]:
# save to file
# df.to_csv('table_scrape.csv')